    <%- include('../fragments/header.ejs') %>
    <main>
        <section class="article-page py-5">
            <article class="container">
                <header>
                    <h2 class="display-5">Zadbaj o nasz instrument</h2>
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores beatae corporis sed, reiciendis omnis repudiandae perspiciatis dolore. Ipsa, rem modi. Praesentium deserunt neque necessitatibus error aliquam mollitia accusamus expedita vitae, quae voluptas impedit laudantium officiis nobis placeat enim doloribus itaque, vero ut vel dolore nesciunt odio ducimus voluptates sint. Nostrum?</p>
                </header>
                <section class="row mt-5">
                    <div class="col-md-6 mx-auto">
                        <img src="../img/pexels-méline-waxx-165971.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <h3 class="display-6">Lorem ipsum dolor sit?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illo natus vitae est consequuntur magnam libero rerum atque debitis maiores molestias, excepturi ab fuga eveniet numquam doloribus facilis cum, voluptatum modi sunt ratione pariatur? Itaque provident deserunt, natus dicta voluptate, accusamus possimus repudiandae, quasi dignissimos aliquam repellat maiores sed! Omnis facere perferendis odio maxime veritatis quasi autem temporibus praesentium odit nihil doloribus officiis incidunt dolorum et deleniti magni sit delectus ipsam iste nam, assumenda recusandae fugit? Provident ad rem excepturi perspiciatis deleniti ullam debitis quas, eum architecto aliquam repellendus exercitationem alias autem tenetur voluptate accusamus aliquid? Cupiditate magni officia aut laboriosam, illo assumenda corporis voluptates. Ea pariatur nulla dignissimos blanditiis saepe mollitia consectetur ut soluta possimus alias, rem doloremque esse.</p>
                        <a href="#" class="text-danger">Dowiedz się więcej na ten temat</a>
                    </div>
                    <div class="col mt-4">
                        <h3 class="display-6">Amet consectetur adipisicing</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At eaque dicta eos aliquam ut enim corrupti porro velit quisquam repudiandae iure labore delectus distinctio optio eius quos ex, deleniti, quidem perferendis provident blanditiis ea explicabo fugit sapiente. Consequuntur reiciendis nisi corrupti a excepturi. Minus, quidem. Exercitationem excepturi totam ipsum debitis consequatur suscipit sapiente, ratione alias architecto harum accusantium, expedita iste.</p>
                    </div>
                </section>
                <a href="/#my-articles" class="btn btn-outline-danger mb-3">&lt Wróć do artykułów</a>
            </article>
        </section>
    </main>
    <%- include('../fragments/footer.ejs') %>